:root {
  --font-roboto: "Roboto", sans-serif;
  --border-color: #ddd;
  --sidebar-bg: #fff;
  --header-bg: rgba(4, 28, 58, 1);
  --header-height: 85px;
  --header-padding: 0px 20px;
  --padding-logo-link: 15px 0;
}
