:root {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --border-color: rgba(203, 213, 225, 0.3);
  --border-radius: 3px;
  --sidebar-bg: #fff;
  --header-bg: rgba(4, 28, 58, 1);
  --header-height: 85px;
  --header-padding: 0px 20px;
  --padding-logo-link: 15px 0;
  --padding-section: 20px;
  --body-bg: #f9f9f9;

  --color-white: #fff;
 
  // space
  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 40px;
  --space-xl: 50px;
}
