:root {
  --font-roboto: "Roboto", sans-serif;
  --border-color: rgba(203, 213, 225, 0.3);
  --border-radius: 3px;
  --sidebar-bg: #fff;
  --header-bg: rgba(4, 28, 58, 1);
  --header-height: 85px;
  --header-padding: 0px 20px;
  --padding-logo-link: 15px 0;

  --color-white: #fff;
}
