.img {
  width: 25px;
  height: 20px;
}

.wrapDropdown {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px 12px;
  color: var(--color-white) !important;
}

.dropText {
  color: var(--color-white);
}
